#galleryWrap {
    columns: 4 400px;
    column-gap: 1rem;
    width: 90%;
    margin: 0 auto;
}

#galleryItem {
    width: 100%;
    position: relative;
    height: auto;
    padding: 5px;
    display: inline-block;
    overflow: hidden;
}

#thumbnail {
    display: block; 
    width: 100%;
    height: auto;
    filter: grayscale(50%);
    transition: all .25s ease-in-out;
}

#thumbnail:hover {
    cursor: pointer;
    transform: scale(1.05);
    filter: grayscale(0);
}

#thumbnail:hover #middle{
    opacity: 1;
}